name: Release
on:
  workflow_dispatch:
  schedule:
    - cron: "0 9 * * 3" # At 00:00 JST on Wednesday.
jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: go-semantic-release/action@v1
        with:
          github-token: ${{ secrets.GITHUB_TOKEN }}
          changelog-generator-opt: "emojis=true"
          allow-initial-development-versions: true
